.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.empty-cart {
    font-size: var(--tx-card-fs-head);
    font-weight: var(--tx-card-fw-head);
}

.product-bar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: var(--nav-height);
    background: var(--cl-backgrount);
    border-radius: 20px;
    margin: 1rem;
    background: linear-gradient(90deg, var(--cl-backgrount), var(--cl-backgrount));
    /* Fading gradient */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;

}

.product-card-in {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.parchase-img {
    width: var(--img-sz);
}

.product-card-title {
    font-weight: var(--tx-card-fw-head);
    font-size: var(--tx-card-fs-head);
    width: 100%;
    text-align: center;
}

.product-card-price {
    font-size: var(--tx-cart-fs);
}

.product-card-price-off {
    font-size: var(--tx-fs-current-price);
    color: var(--cl-denger);
}

.product-card-prices div h3 {
    color: var(--cl-ok);
    font-size: var(--tx-card-fs);
}

.product-card-ctg {
    align-items: center;
    display: flex;
    justify-content: center;
}

.parchase-cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    background: var(--cl-bg-cards);
    border-radius: 20px;
    padding-top: 3rem;
    text-decoration: none;


}

/* Parchase nav section start  */
.parchase-nav {
    position: sticky;
    top: 5.5rem;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parchase-nav-sub {
    width: 550px;
    color: var(--cl-tx-head);
    color: var(--cl-tx-head);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 .5rem .5rem .5rem;
    background: linear-gradient(90deg, var(--cl-backgrount), var(--cl-backgrount));
    /* Fading gradient */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.parchase-add-btn {
    display: flex;
    border: .01rem solid #000;
    /* width: 70px; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;

}

.parchase-add-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.parchase-add-btn div:hover {
    background: #0000006e;
    color: #ffffff;
    transition: 1s;
    content: "";
}

.parchase-nav-prchsall Button {
    font-weight: var(--tx-card-fw-head);
    font-size: var(--tx-card-fs);
    margin-left: 3%;
    color: var(--cl-tx-head);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 .5rem .5rem .5rem;
    background: linear-gradient(90deg, var(--cl-backgrount), var(--cl-backgrount));
    /* Fading gradient */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    font-weight: 600;
}

@media screen and (max-width :430px) {
    .parchase-nav-sub {
        width: 250px;

    }

    .parchasenavcounthead,
    .parchasenavpricehead {
        font-size: var(--tx-card-fs);
        font-weight: var(--tx-card-fw);
    }

}

.parchasenavcounthead,
.parchasenavpricehead {
    font-size: var(--tx-card-fs-head);
    font-weight: var(--tx-card-fw-head);
}

@media screen and (max-width:1000px) {
    .parchase-nav {
        flex-direction: column;
    }

    .parchase-nav-prchsall {
        display: flex;
        justify-content: end;
        position: relative;
        left: 25%;
        margin-top: 1%;
    }
}
@media screen and (max-width:426px) {
 

    .parchase-nav-prchsall {
        display: flex;
        justify-content: end;
        position: relative;
        left: 17%;
        margin-top: 1%;
    }
    .parchase-nav-sub{
        display: flex;
        flex-direction: column;
    }
}

/* Parchase nav section ends  */